*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: orange;
    color: white;
    padding: 20px 0px;
    position:fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.donna{
    font-size: 25px;
}

.logo{
    width: 150px;
}
main{
    padding-top: 100px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    gap: 20px;
}

.col-33{
    width: 30%;
}

.justify-center{
justify-content: center;
}

.card{
    width: 100%;
    position: relative;
}

.card img{
    max-width: 100%;
}

.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}

.label{
    padding: 5px 10px;
    color: white;
    position: absolute;
    bottom: 40px;
}

.label2{
    padding: 5px 10px;
    color: white;
    position: absolute;
    left: 60px;
    bottom: 40px;
}

.heartlabel{
    padding: 5px 10px;
    color: black;
    position: absolute;
    top: 13px;
    right:0px;
    border: 1px solid white;
    background-color: white;
}

.redprice{
    color: red;
    display: inline-block;
}

.straightprice{
    text-decoration: line-through;
    display: inline-block;
}